venv/
*.md
.claude/

##Backend
backend/.env
backend/ai/chroma_db/
backend/Gmail/token_files/
backend/Gmail/attachments/
backend/Gmail/downloads/
backend/Outlook/attachments/
backend/Outlook/downloads/
backend/client_secret.json
backend/Outlook/*.txt
backend/Teams/*.txt
backend/database/*.db

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Log files
debug.log
*.log

##Frontend

